.container {
    max-width: 400px;
    margin:1px;
    padding: 2em;
    text-align: center;
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(178, 170, 170);
    color: #0f0e0e;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .weather-info {
    margin-top: 20px;
    padding: 20px;
    background-color:rgba(255, 255, 255, 0.7);
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .temp, .humidity, .description,.dt {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .dt{
    margin-top:40px;
  }
  body {
    background-image: url('lp.gif');
    background-size:cover;
    background-position: center;
    height: 670px;
  }
  .datetime {
    color: white;
  }

.weather-icon{
  width: 170px;
  margin-top: 30px;
}
